body {
  font-size: 14pt;
}

.navbar {
  margin-bottom: 0;
}

a:hover {
  color: #00C100;
}

/*
.navbar-header {
  min-height: 90px;
}

.navbar-brand > img {
  height: 60px;
}
*/

a.btn:visited {
  color: white;
}

.btn-success {
  background-color: #00C100;
}

.navbar-right > .navbar-right {
  margin-right: -15px;
}

/*
ul.navbar-nav a {
  margin-left: 1em;
  margin-right: 0;
  padding-top: 5px;
  padding-right: 0;

}
*/

.navbar-default .navbar-brand {
  font-size: 18pt;
  font-family: monospace;
}

ul.contact-buttons{
  list-style: none;
  margin-top: 5px;
  margin-left: 1em;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

ul.contact-buttons li {
  display: inline;
}

ul.contact-buttons li a {
  padding-left: 5px;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 5px;
  margin: 0;
}

ul.contact-buttons img{
  width: 32px;
}

ul.main-tags {
  list-style: none;
  text-align: center;
}

ul.main-tags li {
  display: inline;
  padding-left: 1em;
  padding-right: 1em;
}

ul.main-tags li a:hover {
  color: #00C100;
}

.margin-buffer { margin-bottom: 30px; }

h1,h2,h3,h4,h5 {
  font-weight: 500;
}

h1 { font-size: 24pt; }
h2 { font-size: 22pt; }
h3 { font-size: 18pt; }
h4 { font-size: 16pt; }

div#cclicence {
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  padding-bottom: 1em;
}

form#email-subscribe {
  border:1px solid #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  text-align:center;
}

form#email-subscribe input.subscribe-button {
  color: black;
}

/* Simple Sharing Buttons
   https://simplesharingbuttons.com */
ul.share-buttons{
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only{
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

ul.share-buttons img{
  width: 32px;
}
