body {
  background: #222129;
  color: #EEE;
  font-family: Bitstream Vera Sans Mono, Liberation Mono, Lucida Console, Lucida Sans Typewriter, monospace;
  line-height: 1.5;
  height: 100%;
  font-size: 1.1rem;
}

h1 { font-size: 160%; line-height: 1.4; }
h2 { font-size: 140%; line-height: 1.4; }
h3 { font-size: 120%; line-height: 1.4; }
h4 { font-size: 100%; line-height: 1.4; }

table { border-collapse: collapse; }

dt {font-style: italic;}

a { color: #00C100; text-decoration: none; }
a:visited { color: #00C100; }
a:hover { text-decoration: underline; }

li { line-height: 1.5; }

hr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #eee;
}


.container {
  margin: 0 auto;
  max-width: 860px;
}

.navbar-header {
  color: #00C100;
  line-height: 1.1;
  font-size: 1.5rem;
  font-weight: bold;
}


.contact ul {
  margin: 0;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 0.8rem;
  list-style: none;
}


.contact ul li {
  font-size: 1rem;
  display: inline;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.contact a {
  text-decoration: underline;
  color: #EEE;
}

.contact a:visited {
  text-decoration: underline;
  color: #EEE;
}


ul.tags {
  margin: 0;
  padding-left: 0em;
  padding-right: 0em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  list-style: none;
}


ul.tags li {
  color: #979794;
  font-size: 1rem;
  display: inline;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

ul.tags a {
  color: #979794;
}

ul.tags a:visited {
  color: #979794;
}

div#popular-tags {
  margin-top: 1em;
  margin-bottom: 1em;
}

span.popular-tags-header {
  font-weight: bold;
}


footer .container {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer a {
  text-decoration: none;
}



/* ----- Main content ----- */
div#content {
  padding-bottom: 4em;
  padding-top: 20px;
  letter-spacing: 1px;
  line-height: 1.5;
}

/* TODO: Move this to article.css */
div#content img {
  margin-top: .5em;
  margin-bottom: .5em;
  max-width: 100%;
  height: auto;
}

h1,h2,h3,h4 {
  margin-top: 1em;
  margin-bottom: 0;
  padding-bottom: 0;
}

.pull-right { float: right; }
.text-center { text-align: center; }

.margin-buffer { margin-bottom: 30px; }

#index-header {
  font-size: 1.6rem;
  font-weight: bold;
}


a.view-all {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline;
  padding-top: .2rem;
}


div.discuss {
  width: 100%;
  text-align: center;
  margin-top: 1em;
  border-bottom: 1px solid #DDD;
  padding-bottom: 1.5em;
}


article ul { list-style: disc outside none; }



div#cclicence {
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  padding-bottom: 1em;
}

div.articleRedirected {
  margin-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  border: 2px solid white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
}

div.articleRedirected h1 {
  margin-top: 0;
}


/* ---- Book Reviews ---- */
table.bookDetails { float: left; }
table.bookDetails th { text-align: left; padding-right: 1em; }

table.amazonDetails { margin-left: 2em; }


/* ---- Amazon Banner Ads ---- */
div.amazonBannerDesktop {
  text-align: center;
}
div.amazonBannerMobile {
  text-align: center;
}

@media screen and (max-width: 728px) {
  div.amazonBannerDesktop {
    display: none;
  }
}

@media screen and (min-width: 729px) {
  div.amazonBannerMobile {
    display: none;
  }
}
