body {  
  color: black; 
  font-family: corbel, 'lucida grande', helvetica, sans-serif;
  font-weight: normal;
  width: 100%;
  font-size: 14pt;
  margin: 0;
}

/* ----- Top Banner ----- */
div#topBanner {
  vertical-align: bottom;
  height: 80px;
  background: url(/images/topbanner-gradient.png) 0% 0% repeat-x;
  margin: 0;
  padding: 0;
}

div#topBannerInner {
  position: relative;
  height: 80px;
  vertical-align: bottom;
  margin-left: 160px;
  max-width: 1024px;
  padding-left: 1.5em;
}

img#logo {
  position: absolute;
  top: 10px;
  padding: 0;
  margin: 0;
  border: none;
}

/* Navigation Menu */
nav {
  position: absolute;
  top: 50px;
  left: 450px;
}

nav ul {
  vertical-align: bottom;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 30px;
}

nav li {
  float: left;
  height: 30px;
}

nav a {
  font-weight: bold;
  display: block;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  margin-left: 1px;
  padding:0 10px;
  color: white;
  background: gray;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
}

nav a#current {
  background: white;
  color: black;
}

/* ----- Icons ----- */
img#octocatIcon {
  position: absolute;
  top: 5px;
  right: 147px;
  border: none;
}

img#emailIcon {
  position: absolute;
  top: 5px;
  right: 102px;
  border: none;
}

img#twitterIcon {
  position: absolute;
  height: 28px;
  width: 28px;
  top: 5px;
  right: 70px;
  border: none;
}

img#youtubeIcon {
  position: absolute;
  height: 28px;
  width: 28px;
  top: 5px;
  right: 37px;
  border: none;
}

img#feedIcon {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
}



/* ----- Footer ----- */

div#footer {
  vertical-align: bottom;
  height: 160px;
  background: url(/images/footer-gradient.png) 0% 0% repeat-x;
  margin: 0;
  margin-top: 2em;
  padding: 0;
  clear: left;
}

div#footerInner {
  position: relative;
  height: 160px;
  vertical-align: bottom;
  max-width: 1024px;
  margin-left: 160px;
  max-width: 1024px;
  padding-left: 1.5em;
  color: green;
}

div#footerInner a { font-size: 10pt; color: green; text-decoration: none; }
div#footerInner table { padding-top: 0.5em; }
div#footerInner table td { vertical-align: top; padding-right: 2em; }

/* ----- Profile ----- */
table#profileColumns { margin-top: 1em; }
table#profileColumns td { vertical-align: top; }
table#profileColumns td#picColumn { padding-right: 1em; }

table#profileColumns td#picColumn h4 {
  font-weight: normal;
  color: gray;
  margin-top: 1em;
  margin-bottom: 0;
}


table#profileColumns h2#name { margin-top: 0; }

img#profile { height: 200px; width: 200px; }

table#profileTable th {
  font-weight: normal;
  text-align: left;
  color: gray;
  padding-right: 2em;
}

table#profileTable td a {color: blue;}

div#profileText { margin-top: 1em; }

/* ----- Main content ----- */
div#content {
  padding: 0.5em 1.5em;
  max-width: 1024px;
  background: white;
  border: none;
  min-height: 1024px;
  line-height: 1.5;
  overflow: auto;
}

div#content a { text-decoration: none; }
div#content a:hover { text-decoration: underline; }

span.byLine { color: #606060; }
span.tagLine { color: #606060; }
span.tagLine a { color: #3030D0 }
span.tagLine a:visited { color: #3030D0 }
a.readMore { color: blue; }
a.readMore:visited { color: blue; }

h1,h2,h3,h4 {
  margin-top: 1em;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* ---- Columns  ---- */
div#leftColumn {
  width: 160px;
  height: 1200px;
  float: left;
  margin: 0;
}

/* ---- Posts ---- */
h2 a { color: black; }

dt {font-style: italic;}
a.author { color: #3030D0; }
a.author:visited { color: #3030D0; }

ul#posts { margin: 0; padding: 0; list-style: none;}
article ul { list-style: disc outside none; }

table.neatTable th { text-align: left; padding-right: 1em; }
table.neatTable td { text-align: left; padding-right: 1em; }
table.neatTable td.note { font-style: italic; }

img.leftFlow {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
  border: none;
}

img.rightFlow {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
  border: none;
}

/* ---- Book Reviews ---- */
table.bookDetails { float: left; }
table.bookDetails th { text-align: left; padding-right: 1em; }

table.amazonDetails { margin-left: 2em; }

/* ---- Related Posts ---- */
div#related a { color: #3030D0; }
div#related a:visited { color: #3030D0; }
