body {  
  color: black; 
  font-family: corbel, 'lucida grande', helvetica, sans-serif;
  font-weight: normal;
  width: 100%;
  font-size: 14pt;
  margin: 0;
}

/* ----- Top Banner ----- */
div#topBanner {
  vertical-align: bottom;
  height: 80px;
  background:black;
  margin: 0;
  padding: 0;
}

div#topBannerInner {
  position: relative;
  height: 80px;
  vertical-align: bottom;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0;
}

img#logo {
  position: absolute;
  top: 10px;
  padding: 0;
  margin: 0;
}

/* ----- Icons ----- */
img#octocatIcon {
  position: absolute;
  top: 5px;
  right: 147px;
  border: none;
}

img#emailIcon {
  position: absolute;
  top: 5px;
  right: 102px;
  border: none;
}

img#twitterIcon {
  position: absolute;
  height: 28px;
  width: 28px;
  top: 5px;
  right: 70px;
  border: none;
}

img#youtubeIcon {
  position: absolute;
  height: 28px;
  width: 28px;
  top: 5px;
  right: 37px;
  border: none;
}

img#feedIcon {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
}



/* ----- Footer ----- */
div#footer {
  vertical-align: middle;
  text-align: center;
  background: black;
  margin: 0;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

div#footer a { color: green; text-decoration: none; }

/* ----- Adverts  ----- */
div#topAd {
  margin-top: 1em;
}

div#bottomAd {
  margin-top: 1em;
}

/* ----- Profile ----- */
table#profileTable th {
  font-weight: normal;
  text-align: left;
  color: gray;
  padding-right: 2em;
}

table#profileTable td a {color: blue;}

div#profileText { margin-top: 2em; }

/* ----- Main content ----- */
div#content {
  margin: 0 auto;
  padding: 0.5em 1em;
  max-width: 1024px;
  background: white;
  border: none;
  min-height: 1024px;
  line-height: 1.5;
}

div#content a { text-decoration: none; }
div#content a:hover { text-decoration: underline; }

h1,h2,h3,h4 { margin-bottom: 0; padding-bottom: 0; }

/* ---- Posts ---- */
h2 a { color: black; }

dt {font-style: italic;}
a.author { color: blue; }
a.author:visited { color: blue; }

ul#posts { margin: 0; padding: 0; list-style: none;}
article ul { list-style: disc outside none; }

table.neatTable th { text-align: left; padding-right: 1em; }
table.neatTable td { text-align: left; padding-right: 1em; }

img.leftFlow { float: left; margin-right: 1em; margin-bottom: 1em; }
img.rightFlow { float: right; margin-left: 1em; margin-bottom: 1em; }

/* ---- Book Reviews ---- */
table.bookDetails { float: left; }
table.bookDetails th { text-align: left; padding-right: 1em; }

table.amazonDetails { margin-left: 2em; }
