---
layout: base
title: TechTinkering
---
<ul id="posts">
  {% for post in site.posts %}
  <li>
    <header>
      <h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
      {% if post.rating %}{{ post.rating|star_rating }}{% endif %}
      <span class="tagLine">
        <time datetime="{{ post.date | date: '%Y-%m-%d'}}">{{ post.date | date_to_long_string }}</time>
        &nbsp; Tags:
        {% for category in post.categories %}
          <a href="/tag/{{ category|tag_dir }}">{{ category }}</a> &nbsp; &nbsp;
        {% endfor %}
      </span>

    </header>
    <div>{{ post.content|strip_html|truncate: 300 }} &nbsp; <a class="readMore" href="{{ post.url }}">Read More</a></div>
  </li>
  {% endfor %}
</ul>

