<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <strong>Legal:</strong> &nbsp;
        <a href="/tandc/">Terms</a>,
        <a href="/statinfo/">Statutory Information</a>

        &nbsp; &nbsp;
        <strong>RSS Feeds:</strong> &nbsp;
        <a href="http://feedproxy.google.com/TechTinkering" title="Subscribe to TechTinkering's RSS Feed">Full</a>,
        <a href="http://feeds.feedburner.com/Retro-Techtinkering" title="Subscribe to TechTinkering's Retro RSS Feed">Retro</a>
      </div>
    </div>
  </div>
</footer>

