---
layout: post
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="name"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
    <span class="byLine">
      by <span itemscope itemprop="author" itemtype="http://schema.org/Person">
           <a rel="author" itemprop="url" class="author" href="{{ page.author.url }}">
             <span itemprop="name">{{ page.author.name }}</span>
           </a>
         </span>
      <time itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d'}}">
        {{ page.date | date_to_long_string }}
      </time>
    </span>


    <!-- AddThis Button BEGIN -->
    <div style="float: right;" class="addthis_toolbox addthis_default_style addthis_32x32_style">
    <a class="addthis_button_google_plusone" g:plusone:count="false"></a>
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_twitter"></a>
    <a class="addthis_button_reddit"></a>
    <a class="addthis_button_compact"></a>
    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=vlifesystems"></script>
    <!-- AddThis Button END -->

    <span class="tagLine">
      <br />
      Tags:
      {% for tag in page.tags %}
        <a rel="tag" href="/tag/{{ tag|tag_dir }}">{{ tag }}</a> &nbsp; &nbsp;
      {% endfor %}
    </span>

  </header>

  <div class="articleBody" itemprop="articleBody">
    {{ content }}
  </div>
</article>
