<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8" />

  <meta name="description" content="Retro Computers, Programming, General Technical Tinkering"/>
  <meta name="keywords" content="Retro Vintage Programming Tinkering"/>

  <link rel="stylesheet" href="/css/sitestyle.css" media="screen" type="text/css" />
  <link rel="stylesheet" href="/css/html_pygments.css" media="screen" type="text/css" />

  <link rel="alternate" type="application/rss+xml" title="Techtinkering RSS Feed" href="http://feedproxy.google.com/TechTinkering" />


</head>

<body>
  <div id="topBanner">
    <div id="topBannerInner">
       
      <a href="/"><img id="logo" src="/images/logo.png" alt="TechTinkering"/></a>

      <a href="https://github.com/lawrencewoodman/techtinkering.com" title="Fork TechTinkering On Github ">
        <img src="/images/octocat_fluid.png" id="octocatIcon" alt="Techtinkering Repo on  Github"/>
      </a>

      <!-- From: http://www.graphicsfuel.com/2011/05/email-icon-psd/ -->
      <a href="mailto:feedback@techtinkering.com" title="Email us, we'd love to hear from you">
        <img src="/images/email.png" id="emailIcon" alt="Email"/>
      </a>

      <!-- From: http://www.buttonshut.com/Get-Button-Huts-Code/Twitter-Buttons-1124.html -->
      <a href="http://twitter.com/techtinkering" title="@techtinkering on Twitter">
        <img src="/images/twitter-button-36.png" id="twitterIcon" alt="@techtinkering on Twitter"/>
      </a>

      <!-- From: http://www.buttonshut.com/Get-Button-Huts-Code/Youtube-Buttons-831.html -->
      <a href="http://youtube.com/techtinkering" title="Techtinkering's YouTube Channel">
        <img src="/images/youtube-small-square-32.png" id="youtubeIcon" alt="YouTube Channel"/>
      </a>


      <a href="http://feedproxy.google.com/TechTinkering" title="Subscribe to TechTinkering's RSS Feed">
        <img src="/images/feed-icon-28x28.png" id="feedIcon" alt="RSS Feed"/>
      </a>

    </div>
  </div>

  <div id="content">
    {{ content }}
  </div>

  <div id="footer">
    <a href="/tandc/">Terms and Conditions</a> &nbsp;
    <a href="/statinfo/">Statutory Information</a>
  </div>

  {% comment %}Amazon Product Preview Code{% endcomment%}
  <script type="text/javascript" src="http://www.assoc-amazon.co.uk/s/link-enhancer?tag=techtinkering-21&amp;o=2">
  </script>
  <noscript>
      <img src="http://www.assoc-amazon.co.uk/s/noscript?tag=techtinkering-21" alt="" />
  </noscript>

  {% comment %}Google Analytics tracking code{% endcomment %}
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-4388762-2");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>

  </body>
</html>
