<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8" />

  <meta name="description" content="Retro Computers, Programming, General Technical Tinkering"/>
  <meta name="keywords" content="Retro Vintage Programming Tinkering"/>

  <link rel="stylesheet" href="/css/sitestyle.css" media="screen" type="text/css" />
  <link rel="stylesheet" href="/css/html_pygments.css" media="screen" type="text/css" />

  <link rel="alternate" type="application/rss+xml" title="Techtinkering RSS Feed" href="http://feedproxy.google.com/TechTinkering" />

  <!-- Fix for ie 5&6 where id doesnt render transparent images properly-->
  <!--[if lte IE 6]>
    <script defer type="text/javascript" src="/js/pngfix.js"></script>
  <![endif]-->

  <!-- Allow html5 elements to be style properly for IE v8 and before -->
  <!--[if lt IE 9]>
    <script src="/js/html5.js"></script>
  <![endif]-->

</head>

<body>
  <div id="topBanner">
    <div id="topBannerInner">
       
      <a href="/"><img id="logo" src="/images/logo.png" alt="TechTinkering"/></a>

        <nav>
          <ul>
            <li><a {%if page.menuOption == "home"%}id="current"{%endif%}
                   href="/">Home</a></li>
            {% if page.menuOption == "article" %}
              <li><a id="current" href="{{ page.url }}">Article</a></li>
            {% endif %}

            {% if page.menuOption == "profile" %}
              <li><a id="current" href="{{ page.url }}">Profile</a></li>
            {% endif %}

            {% if page.menuOption == "statinfo" %}
              <li><a id="current" href="{{ page.url }}">Statutory Information</a></li>
            {% endif %}

            {% if page.menuOption == "tagged" %}
              <li><a id="current" href="{{ page.url }}">Tagged Articles</a></li>
            {% endif %}

            {% if page.menuOption == "terms" %}
              <li><a id="current" href="{{ page.url }}">Terms and Conditions</a></li>
            {% endif %}

            <li><a {%if page.menuOption == "about"%}id="current"{%endif%}
                   href="/about">About</a></li>
          </ul>
        </nav>

      <a href="https://github.com/lawrencewoodman/techtinkering.com" title="Fork TechTinkering On Github ">
        <img src="/images/octocat_fluid.png" id="octocatIcon" alt="Techtinkering Repo on  Github"/>
      </a>

      <!-- From: http://www.graphicsfuel.com/2011/05/email-icon-psd/ -->
      <a href="mailto:feedback@techtinkering.com" title="Email us, we'd love to hear from you">
        <img src="/images/email.png" id="emailIcon" alt="Email"/>
      </a>

      <!-- From: http://www.buttonshut.com/Get-Button-Huts-Code/Twitter-Buttons-1124.html -->
      <a href="http://twitter.com/techtinkering" title="@techtinkering on Twitter">
        <img src="/images/twitter-button-36.png" id="twitterIcon" alt="@techtinkering on Twitter"/>
      </a>

      <!-- From: http://www.buttonshut.com/Get-Button-Huts-Code/Youtube-Buttons-831.html -->
      <a href="http://youtube.com/techtinkering" title="Techtinkering's YouTube Channel">
        <img src="/images/youtube-small-square-32.png" id="youtubeIcon" alt="YouTube Channel"/>
      </a>


      <a href="http://feedproxy.google.com/TechTinkering" title="Subscribe to TechTinkering's RSS Feed">
        <img src="/images/feed-icon-28x28.png" id="feedIcon" alt="RSS Feed"/>
      </a>

    </div>
  </div>

  <div id="leftColumn">
    {% if page.menuOption == "article" or page.menuOption == "tagged" %}
      <script type="text/javascript"><!--
        google_ad_client = "ca-pub-1613732348909658";
        /* techtinkering 160x600 wide skyscraper (images) */
        google_ad_slot = "0455538640";
        google_ad_width = 160;
        google_ad_height = 600;
        //-->
      </script>
      <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>

      <script type="text/javascript"><!--
        google_ad_client = "ca-pub-1613732348909658";
        /* techtinkering 160x600 wide skyscraper (images) */
        google_ad_slot = "0455538640";
        google_ad_width = 160;
        google_ad_height = 600;
        //-->
      </script>
      <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>

      <script type="text/javascript"><!--
        google_ad_client = "ca-pub-1613732348909658";
        /* techtinkering 160x600 wide skyscraper (images) */
        google_ad_slot = "0455538640";
        google_ad_width = 160;
        google_ad_height = 600;
        //-->
      </script>
      <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
    {% endif %}
  </div>

  <div id="content">
    {{ content }}
  </div>

  <div id="footer">
    <div id="footerInner">
      <table><tr>
        <td>
          <strong>Legal</strong><br />
          <a href="/tandc/">Terms and Conditions</a><br />
          <a href="/statinfo/">Statutory Information</a>
        </td>

        <td>
          <strong>Miscellaneous</strong><br />
          <a href="http://feeds.feedburner.com/Retro-Techtinkering">Retro RSS Feed</a>
        </td>
      </tr></table>
    </div>
  </div>

  {% comment %}Amazon Product Preview Code{% endcomment%}
  <script type="text/javascript" src="http://www.assoc-amazon.co.uk/s/link-enhancer?tag=techtinkering-21&amp;o=2">
  </script>
  <noscript>
      <img src="http://www.assoc-amazon.co.uk/s/noscript?tag=techtinkering-21" alt="" />
  </noscript>

  {% comment %}Google Analytics tracking code{% endcomment %}
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-4388762-2");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>

  </body>
</html>
