---
layout: post
---
<article itemscope itemtype="http://schema.org/Review">
  <header>
    <h1><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
    <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
      <meta itemprop="worstRating" content="1" />
      <meta itemprop="ratingValue" content="{{ page.rating }}" />
      <meta itemprop="bestRating"  content="5" />
    </span>
    {{ page.rating|star_rating }}
    <span class="byLine">
      by <span itemscope itemprop="author" itemtype="http://schema.org/Person">
           <a rel="author" itemprop="url" class="author" href="{{ page.author.url }}">
             <span itemprop="name">{{ page.author.name }}</span>
           </a>
         </span>
      <time itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d'}}">
        {{ page.date | date_to_long_string }}
      </time>
    </span>

    <span class="tagLine">
      <br />
      Tags:
      {% for tag in page.tags %}
        <a rel="tag" href="/tag/{{ tag|tag_dir }}">{{ tag }}</a> &nbsp; &nbsp;
      {% endfor %}
    </span>

    <!-- AddThis Button BEGIN -->
    <div style="float: right;" class="addthis_toolbox addthis_default_style addthis_32x32_style">
    <a class="addthis_button_google_plusone" g:plusone:count="false"></a>
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_twitter"></a>
    <a class="addthis_button_reddit"></a>
    <a class="addthis_button_compact"></a>
    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=vlifesystems"></script>
    <!-- AddThis Button END -->

  </header>

  <div class="articleBody" itemprop="reviewBody">
    {{ content }}
  </div>

  <div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
    <h3>
      {% if page.product.manufacturer %}
        <span itemprop="manufacturer" itemscope itemtype="http://schema.org/Organization">
          <span itemprop="name">{{ page.product.manufacturer }}</span>
        </span>
      {% endif %}
      {% if page.product.brand %}
        <span itemprop="brand" itemscope itemtype="http://scheam.org/Organization">
          <span itemprop="name">{{ page.product.brand }}</span>
        </span>
      {% endif %}
      <span itemprop="model">{{ page.product.model }}</span>
    </h3>
    <table>
      <tr><td>
        <a href="{{ page.product.amazon }}" title="Buy from Amazon">
          <img itemprop="image" src="/images/posts/{{ page.summaryPic }}">
        </a>
      </td></tr>
      <tr><th>
        <a href="{{ page.product.amazon }}" title="Buy from Amazon">Buy from Amazon</a>
      </th></tr>
    </table>
  </div>

</article>
