---
layout: base
menuOption: tagged
---
<h1>Articles tagged: <em>{{ page.category }}</em></h1>
<ul id="posts">
  {% for post in site.posts %}
    {% if post.categories contains page.category %}
      <li>
        <header>
          <h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
          {% if post.rating %}{{ post.rating|star_rating }}{% endif %}
          <span class="tagLine">
            <time datetime="{{ post.date | date: '%Y-%m-%d'}}">{{ post.date | date_to_long_string }}</time>
            &nbsp; Tags:
            {% for category in post.categories %}
              <a href="/tag/{{ category|tag_dir }}">{{ category }}</a> &nbsp; &nbsp;
            {% endfor %}
          </span>
        </header>
      </li>
    {% endif %}
  {% endfor %}
</ul>

